* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: none;
}
